@import url(../Css/reset.css);

body{
  max-width: 1300px;
  margin: 0 auto;
  height: 1000px;
  
  background: #d9d9d9;
}
a {
  text-decoration: none;
  color: #000;
}
.main{
  height:100%;
  width: 100%;
}
.d-none{
  display: none;
}
.board{
  width: 100%;
  height: 100%;
  
}
.table{
  font-size: 1.5vw;
  border-collapse: collapse;
  width: 100%;
  margin-top:200px;
  border: 1px solid gray;    
  text-align: center;
}
.thead td {
  background: #B2B2B2;
  padding: 0 10px;
  border-bottom:1px solid black;
}
td {
  height: 40px;
  /*border-bottom:1px solid black;*/
}
.title {
  text-align: start;
}
.title a:link {
  color: rgb(0, 0, 0);
}
.title a:visited {
  color: #e57f11;
}
.title a:hover {
  color: #0092c3;
  text-decoration: underline;
}
tr td:nth-child(2){
  width: 750px;
}
/* ********페이징******** */
.page-nation li{ 
  list-style: none;
} 
.page-wrap {
  text-align:center;
  font-size:0;
}
.page-nation  {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:20px;
}
.page-nation a {
  display:block;
  margin:0 3px;
  float:left;
  border:1px solid #e6e6e6;
  width:20px;
  height:20px;
  text-align:center;
  background-color:#fff;
  font-size:12px;
  color:black;
  font-weight:bold;
}
.page-nation a:hover {
  background-color:gray;
  color:white;
}